// @see: http://eslint.cn
{
  "extends": [
    "@antfu",
    "next/core-web-vitals"
  ],
  "rules": {
    "sort-imports": "off",
    "@typescript-eslint/indent": "off",
    "@next/next/no-img-element": "off"
  }
}
